.bg {
    /* High Contrast | Purple */

    box-sizing: border-box;

    position: relative;
    width: 100%;
    height: 100vh;

    background: #534F89;
    border: 1px solid #000000;
}

.sideNav {
    /* ADMIN | Sidebar */

    position: absolute;
    left: 1.77%;
    right: 81.81%;
    top: 1.93%;
    bottom: 2.35%;

    background: #F6F6F9;
    border: 2.48343px solid #8D84F4;
    border-radius: 22.9067px;


}

.sideNav .logo {
    /* Frame 11808658 */

    position: absolute;
    left: 35.18%;
    right: 35.29%;
    top: 2.88%;
    bottom: 90.97%;




}

.sideNav .logo .vector {
    width: 100%;
    /* Make the SVG fill the entire width of the container */
    height: 100%;
}

.sideNav .line {
    /* Line 425 */

    position: absolute;
    /*left: 100%;
right: -100%;*/
    width: 100%;
    height: 0px;
    top: 11.96%;
    bottom: 88.04%;

    /*border: 1.15596px solid #DFDEF1;*/
    /*transform: rotate(180deg);*/

    border: 0.954447px solid #DFDEF1;
    /*transform: rotate(180deg);*/

}

.sideNav .user {
    /* Frame 11808463 */

    box-sizing: border-box;

    position: absolute;
    left: 7.17%;
    right: 7.49%;
    top: 14.97%;
    bottom: 77.43%;

    background: #453F93;
    border: 0.954447px solid #584DE2;
    border-radius: 15.2712px;


}

.sideNav .user .pdp {
    /* Ellipse 12 */

    position: absolute;
    /*left: 2.67%;
    right: 71.67%;
    top: 14.22%;
    bottom: 14.22%;*/
    border-radius: 50%;
    overflow: hidden;
    background: url(./images/pdp.svg) 40%;
    /*border: 1.72947px solid #FFFFFF;*/


    /* Ellipse 12 */


    left: 5.83%;
    right: 79.6%;
    top: 22.45%;
    bottom: 21.4%;

    /*background: url(image.png);*/
    border: 1.43167px solid #FFFFFF;


}

.sideNav .user .username {

    position: absolute;
    left: 26.23%;
    /*right: 36.75%;*/
    top: 22.45%;
    bottom: 48.14%;

    font-family: 'Fredoka One', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 0.8vw;
    line-height: 23px;
    /* or 133% */

    /* Prof. Mahmoud */




    /*font-family: 'Fredoka';
font-style: normal;
font-weight: 700;
font-size: 14.3167px;
line-height: 19px;*/
    /* or 133% */

    color: #FFFFFF;



    color: #FFFFFF;



    color: #FFFFFF;
}

.sideNav .user .role {

    position: absolute;
    left: 26.23%;
    /*right: 39.42%;*/
    top: 53.33%;
    bottom: 20.19%;


    font-family: 'Fredoka One', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 0.6vw;
    line-height: 21px;
    /* identical to box height, or 129% */


    /* Administrateur */


    /*font-family: 'Fredoka';
font-style: normal;
font-weight: 400;
font-size: 13.3623px;
line-height: 17px;*/
    /* identical to box height, or 129% */

    color: #FFFFFF;



    color: #FFFFFF;

}

.sideNav .user .vector {
    /* Icons 16px / arrow/Down */

    position: absolute;
    left: 74.31%;
    right: 19.86%;
    top: 45.75%;
    bottom: 15.79%;



    transform: rotate(-90deg);
    fill: white;






}

.sideNav .search {
    /* Search */

    position: absolute;
    left: 7.17%;
    right: 7.49%;
    top: 24.8%;
    bottom: 70.5%;

    background: #E7E7E7;
    border-radius: 11.4534px;





}

.sideNav .search:hover {
    border: 2.5608px solid #655BE1;
}

.sideNav .search:active {
    border: 2.5608px solid #655BE1;
}

.sideNav .search .searchVector {
    /* 20px / Search */

    position: absolute;
    left: 2.91%;
    right: 88.34%;
    top: 6.94%;
    bottom: 22.52%;
    fill: #8E8E8E;





}

.sideNav .search .name {
    /* Главное */

    position: absolute;
    left: 14.57%;
    /*right: 57.57%;*/
    top: 27.49%;
    bottom: 24.89%;
    border-radius: 8px;
    background-color: #E7E7E7;
    border: none;

    font-family: 'Fredoka One', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 0.8vw;
    line-height: 23px;
    /* or 133% */
    display: flex;
    align-items: center;

    color: #8E8E8E;

}

.sideNav .options {
    display: flex;
    flex-direction: column;
    gap: 10px;
    position: absolute;
    left: 7.17%;
    right: 7.49%;
    top: 32.18%;
    /*bottom: 26.59%;*/


}

.sideNav .options .elementContainer .optionElement {

    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 11.4534px 15.2712px;
    gap: 9.54px;
    height: 40px;
    cursor: pointer;
    position: relative;
    position: relative;
    left: 0%;
    right: 0%;
    top: 0%;
    bottom: 63.45%;

    border: 1.65562px solid #584DE2;
    border-radius: 11.4534px;
}

.sideNav .options .elementContainer .optionElement:hover {
    background-color: #584DE2;
    /* Change background color on hover */
}

.sideNav .options .elementContainer .optionElement:active {
    background-color: #584DE2;
    /* Change background color on click */
}


.sideNav .options .elementContainer .optionElement .optionName {
    /* Abonnés */

    width: 169.93px;
    height: 20px;

    font-family: 'Fredoka One', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 1vw;
    line-height: 20px;
    /* identical to box height */

    color: #363636;


    /* Inside auto layout */
    flex: none;
    order: 1;
    flex-grow: 1;

}

.sideNav .options .elementContainer .optionElement:hover .optionName {
    color: white;
}

.sideNav .options .elementContainer .optionElement:active .optionName {
    color: white;
}

.sideNav .options .elementContainer .optionElement .optionVector {
    /* 8726460_users_alt_icon 1 */

    width: 27.67px;
    height: 27.67px;


    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;
    fill: #584DE2;
}

.sideNav .options .elementContainer .optionElement:active .optionVector {
    fill: white;
}

.sideNav .options .elementContainer .optionElement:hover .optionVector {
    fill: white;
}

.sideNav .options .elementContainer .optionElement .vectorDropDown {
    /* Vector */

    position: absolute;

    right: 5.19%;
    top: 48.25%;
    bottom: 8.78%;

    fill: #584DE2;
}

.sideNav .options .elementContainer .optionElement:active .vectorDropDown {
    fill: white;
}

.sideNav .options .elementContainer .optionElement:hover .vectorDropDown {
    fill: white;
}

.sideNav .options .elementContainer .list {
    display: flex;
    flex-direction: column;
    gap: 1px;
    position: relative;
    left: 5.42%;
    right: 8.75%;
    top: 37.31%;
    bottom: 0%;

}

.sideNav .options .elementContainer .list .listElement {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 5.8357px 18.4476px;
    gap: 11.53px;
    height: 50px;
    position: relative;
    font-family: 'Fredoka One', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 1vw;
    line-height: 20px;
    cursor: pointer;

    color: #292929;

    flex: none;
    order: 0;
    flex-grow: 0;

}

.sideNav .options .elementContainer .list .listElement:active {
    color: #584DE2;
}

.sideNav .options .elementContainer .list .listElement:hover {
    color: #584DE2;
}

.sideNav .logout {
    font-family: 'Fredoka One', sans-serif;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 11.4534px 15.2712px;
    gap: 9.54px;
    font-size: 0.8vw;
    line-height: 26px;
    position: absolute;
    left: 9.12%;
    right: 5.54%;
    top: 87.49%;
    bottom: 7.4%;
    cursor: pointer;

    border-radius: 11.4534px;



}

.sideNav .logout .icon {
    /* Message */

    width: 27.74px;
    height: 27.74px;


    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;

}

.body {

    position: absolute;
    left: 19.32%;
    right: 2.09%;
    top: 1.93%;
    bottom: 2.35%;



    background: #584DE2;
    border: 3.13815px solid #8D84F4;
    border-radius: 25px;

}

.body .header {


    position: absolute;
    left: 3.38%;
    right: 5.13%;
    top: 3.6%;
    bottom: 88.3%;


}

.body .header .timer {
    /* Frame 11808596 */

    position: absolute;
    left: -0.25%;
    right: 88.81%;
    top: 4.01%;
    bottom: 4.79%;


}

.body .header .timer .time {
    /* Rectangle 17914 */

    position: absolute;
    left: 7.03%;
    right: 5.68%;
    top: 20.22%;
    bottom: 16.22%;

    background: #F4F4FB;
    border: 3.66139px solid #FDE66E;
    border-radius: 11.8995px;

}

.body .header .timer .clockFrame {


    position: absolute;
    left: -5.68%;
    right: 62.91%;
    top: 0%;
    bottom: 0%;


}

.body .header .timer .clockFrame .clock {
    /* Ellipse 13 */

    position: absolute;
    left: 17.83%;
    right: 10.34%;
    top: 6.83%;
    bottom: 10.34%;
    border-radius: 50%;

    background: #584DE2;


}

.body .header .timer .clockFrame .clock .vectorClock {
    fill: #FDE66E;
    position: absolute;
    width: 110%;
    height: 110%;
}

.body .header .hearts {
    /* Frame 427319401 */

    position: absolute;
    left: 12.72%;
    right: 74.69%;
    top: 16.13%;
    bottom: 20.59%;
    display: flex;
    justify-content: center;
    gap: 2px;


}

.body .header .hearts .firstHeart {
    /* Vector */

    box-sizing: border-box;


    fill: #F2C94C;
    /*background: #6563FF;*/
    /*stroke: #000000;*/


    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;
    transform: matrix(-1, 0, 0, 1, 0, 0);

}

.body .header .hearts .secondHeart {
    /* Vector */
    fill: #F4F4FB;


    transform: matrix(-1, 0, 0, 1, 0, 0);
    /* Inside auto layout */
    flex: none;
    order: 1;
    flex-grow: 0;

}

.body .header .hearts .thirdHeart {
    /* Vector */




    transform: matrix(-1, 0, 0, 1, 0, 0);
    fill: #F4F4FB;
    /* Inside auto layout */
    flex: none;
    order: 2;
    flex-grow: 0;

}

.body .header .gameName {
    /* Frame 427319252 */

    position: absolute;
    left: 29.91%;
    right: 33.73%;
    top: -4.07%;
    bottom: 0.39%;


}

.body .header .gameName .length {

    /* Mode Complet */

    position: absolute;
    left: 0%;
    right: 55.64%;
    top: 0%;
    bottom: 45.45%;

    font-family: 'Fredoka One', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 1.2vw;
    line-height: 42px;
    text-align: center;
    /* identical to box height */

    color: #FDE66E;



}

.body .header .gameName .name {


    /* Fruits & Légumes */

    position: absolute;
    left: 47.28%;
    right: 0%;
    top: 0%;
    bottom: 45.45%;

    font-family: 'Fredoka One', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 1.2vw;
    line-height: 42px;
    text-align: center;
    /* identical to box height */

    color: #F4F4FB;




}

.body .header .gameName .underLine {
    /* Frame 427319251 */

    position: absolute;
    left: 0%;
    right: 0%;
    top: 70.13%;
    bottom: 0%;


}

.body .header .gameName .underLine .line {
    /* Frame 427319246 */

    position: absolute;
    left: 0%;
    right: 0%;
    top: 26.09%;
    bottom: 13.04%;

    background: rgba(0, 0, 0, 0.1);
    border-radius: 43.8072px;


    background: #FFC82C;
    border-radius: 43.8072px;

}

.body .header .score {
    /* Frame 427319250 */

    position: absolute;
    left: 68.61%;
    right: 21.23%;
    top: 5.17%;
    bottom: 88.81%;


}

.body .header .score .total {
    /* Card Deck */

    position: absolute;
    left: 0%;
    right: 71.2%;
    top: 0%;
    bottom: 0%;


}

.body .header .score .correct {
    /* Card Deck */

    position: absolute;
    left: 35.6%;
    right: 35.6%;
    top: 0%;
    bottom: 0%;


}

.body .header .score .incorrect {
    /* Card Deck */

    position: absolute;
    left: 71.2%;
    right: 0%;
    top: 0%;
    bottom: 0%;


}

.body .header .assisted {


    position: absolute;
    left: 85.16%;
    right: 10.67%;
    top: 10.74%;
    bottom: 12.51%;

    background: #C5C2F4;
    border: 4px solid #8D85EF;
    border-radius: 15.3329px;


}

.body .header .pause {

    position: absolute;
    left: 91.03%;
    right: 4.8%;
    top: 10.74%;
    bottom: 12.51%;



    background: #3E32D3;
    border: 4px solid #8D85EF;
    border-radius: 15.3329px;

}



body .header .expand {

    position: absolute;
    left: 96.46%;
    right: 0%;
    top: 13.43%;
    bottom: 16.5%;
    cursor: pointer;

}

body .header .expand .vectorExpand {


    position: center;
    width: 90%;
    height: 90%;
    fill: #8A82E4;


}

.body .main {


    position: absolute;
    left: 3.17%;
    right: 5.18%;
    top: 13.97%;
    bottom: 3.83%;

    background: rgba(247, 247, 254, 0.14);
    border: 2px solid #FFFFFF;
    border-radius: 14px;

}

.body .main .help {


    position: absolute;
    left: 97.17%;
    right: 1%;
    top: 1.31%;
    bottom: 94.22%;
    cursor: pointer;
}

.body .main::before {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-image: url('./vectors/VectorPurpule.svg');
    background-repeat: repeat;
    background-size: 14.5% 16.7%;
    opacity: 0.4;
}

.body .main .help .vector {

    position: absolute;
    width: 100%;
    height: 100%;
    fill: white;

}