.button {
    background-color: transparent;
    border-color: #926BE6;
    color: #926BE6;
  }
  
  .button:hover,
  .button:active {
    color: white;
  }
  
  .button span {
    margin: 0 0.5rem;
  }
  
  .badge {
    background-color: #926BE6;
    border-radius: 30px;
    padding: 0.15rem 1.25rem;
    color: #1d1d1d;
  }